@page "/"
@using MudBlazor

<MudGrid>
    <MudItem xs="8">
        <br/>
        <p>Welcome to the Covid Certificate Verification Service for Travellers.</p><br/>
        <p>In order for this site to verify your Covid Certificate for your journey, please follow the link provided by your service provider.</p><br/>
    </MudItem>
</MudGrid>
