@inherits LayoutComponentBase

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <MudGrid class="mud-theme-primary rounded">
            <MudItem xs="30">
                <MudText Typo="Typo.h4">Covid Certificate Verification for Travellers</MudText>
            </MudItem>
        </MudGrid>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
