@page "/"

<MudGrid class="mud-theme-primary rounded">
    <MudItem xs="30">
        <MudText Typo="Typo.h4">Covid Certificate Verification for Travellers</MudText>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="8">
        <br/>
        <p>Welcome to the Covid Certificate Verification Service for Travellers.</p><br/>
        <p>In order for this site to verify your Covid Certificate for your journey, please follow the link provided by your service provider.</p><br/>
    </MudItem>
</MudGrid>
